<!-- @format -->

<div class="ContainerC2">
  <div class="ContactTitleBox">
    <h2>Contact us</h2>
    <h3>For More Enquiries Please Fill Out This Form:</h3>
  </div>

  <div class="ContactBox">
    <div class="ContactBoxForm">
      <a1>Send us a message</a1>
      <div class="FormBox">
        <div class="formFlex">
          <form
            class="formm"
            action="https://formspree.io/mpzypwdd"
            method="post"
          >
            <div class="form-group radio">
              <label for="nature"
                >Please choose the nature of your query:</label
              >
              <input
                type="radio"
                id="male"
                name="Nature of your query"
                value="Business"
              />
              <a2>Business</a2>
              <input
                type="radio"
                id="male"
                name="Nature of your query"
                value="Careers"
              />
              <a2>Careers</a2>
            </div>

            <div class="form-group first">
              <label for="fname">Your Name : </label>
              <input
                type="text"
                id="fname"
                name="Name"
                placeholder="Your First name"
                required
              />
            </div>
            <div class="form-group second">
              <label for="Email">Email</label>
              <input
                type="text"
                id="Email"
                name="Email"
                placeholder="Your Email"
                required
              />
            </div>
            <div class="form-group first">
              <label for="Country">Country</label>
              <input
                type="text"
                id="Country"
                name="Country"
                placeholder="From where you are from"
              />
            </div>
            <div class="form-group second">
              <label for="Subject">Subject</label>
              <input
                type="text"
                id="Subject"
                name="Subject"
                placeholder="Subject"
              />
            </div>
            <div class="form-group textareaa2">
              <label for="subjectext">Your message</label>
              <textarea
                id="subjectext"
                name="Message"
                placeholder="Write something.."
                required
              ></textarea>
            </div>
            <input type="submit" id="Sabutton" value="Send" />
          </form>
        </div>
      </div>
    </div>
    <div class="ContactBoxInfo">
      <a1>Contact Information</a1>

      <div class="ContactSet" id="phone">
        <img
          src="../assets/images/icons/LandingPage/telefono-inteligente.png"
        />
        <a>Phone :000 000 000</a>
      </div>
      <div class="ContactSet" id="Email">
        <img src="../assets/images/icons/LandingPage/correo.png" />
        <a>Email : example@example.com</a>
      </div>
      <div class="ContactSet" id="EmailJob">
        <img src="../assets/images/icons/LandingPage/letra.png" />
        <a>Jobs : example@example.com</a>
      </div>
    </div>
  </div>
</div>
