<footer>
  <div class="resumefooter">
    <div class="resumeflex">
      <div class="logoimg">
        <img src="../assets/images/icons/LandingPage/asd.png" />
      </div>
    </div>
    <div class="resumeflex">
      <div class="textresume borderTittle"><a2>Services</a2></div>

      <div class="flexS">
        <div>
          <div class="textresume">
            <a>Administrative & Executive Assistant</a>
          </div>
          <div class="textresume"><a>Accounting /Bookkeeping</a></div>
          <div class="textresume"><a>BPO Services</a></div>
          <div class="textresume"><a>IT Support Services</a></div>
        </div>
        <div class="rightflex">
          <div class="textresume"><a>Telemarketing Services</a></div>
          <div class="textresume"><a>Healthcare Services</a></div>
          <div class="textresume"><a>Legal Process Outsourcing</a></div>
        </div>
      </div>
    </div>

    <div class="resumeflex social">
      <div class="SmallContact">
        <h6>Contact us</h6>
        <a>(+34)321 321 321</a>
        <a>emailexample@gmail.com</a>
      </div>
      <div class="SocialList">
        <h6>Fallow Us</h6>
        <div>
          <img src="../assets/images/icons/social/facebook.png" />
          <img src="../assets/images/icons/social/twitter.png" />
          <img src="../assets/images/icons/social/linkedin.png" />
          <img src="../assets/images/icons/social/instagram.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="bottomfooter">
    <div></div>
  </div>
</footer>
