<div class="GreetingM">
  <div class="GreetingSub">
    <div class="GreetingLeft">
      <p>
        <span>
          Is your inbox is overflowing, and your "to-do" list seems endless?
        </span>
        This is where UpturnSolution comes in! UpturnSolution is a trusted &
        respectable team of Virtual Assistant services provider. We are all
        about helping you do more in less time.
      </p>
    </div>
    <div class="GreetingRight">
      <img src="/assets/images/icons/LandingPage/bulbo.png" />
    </div>
  </div>
</div>
