<div class="misionandvision">
    <div class="MVflex">
      <div class="Mission">
        <h2>
          <img src="../assets/images/icons/LandingPage/proposito.png" />
          Our Mission
        </h2>
  
        <p>
          Our mission is to provide customized support services to executives,
          professionals, and entrepreneurs so that they may work less earn more,
          and expand their team quickly as per requirement.
        </p>
      </div>
      <div class="Vision">
        <h2>
          <img src="../assets/images/icons/LandingPage/vision (1).png" />
          Our vision
        </h2>
        <p>
          To be a sought-after assistants company and become a recognized
          authority in the virtual support for medium, small scale businesses.
        </p>
      </div>
    </div>
  </div>
  