
<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>Legal Process Outsourcing</a2>
            <p>There is a recent phenomenal shift in the delivery model for legal services in the legal industry. This new model, known as legal process outsourcing or LPO.
              
            </p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>           Legal Process Outsourcing involves transferring the work of attorneys, paralegals, and other legal professionals to external vendors. 
            UpturnSolution Legal Process Outsourcing helps law firms and corporate legal departments to minimize costs, increase flexibility, and expand their in-house capabilities.
            
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Our virtual Call Center Service offers the following:
            </a1>
            <ul>
                <li>Document drafting by lawyers</li>
                <li>Legal research</li>
                <li>IP legal work, substantive or administrative</li>
                <li>Review of discovery documents</li>
                <li>Paralegal services</li>
                <li>Administrative and secretarial support services Patent drafting</li>
                <li>Simple legal filings</li>
                <li>Legal Publications</li>
                <li>Proofreading</li>
                <li>Litigation support</li>
                <li>Legal Research</li>
                <li>Document Drafting like standard contracts</li>
                <li>Intellectual Property research</li>
                <li>Bankruptcy Filing</li>
              </ul>  
        </div>
    </div>
</div>

