<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>Administrative & Executive Assistant</a2>
            <p>Whether Admin Assistant, Professional Assistant, Virtual Administrative Assistant, Online Administrative Assistant, Virtual Office Assistant, and Remote Assistant, they are just different names for the same role.</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>Typically our Admin Virtual Assistants offer remote assistance for day to day office, clerical, and executive tasks. He or she will support you with basic administrative tasks while working remotely from a home or office.
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Tasks Your UpturnSolution Admin VA Can Take Over:
            </a1>
            <ul>
                <li>Sorting and Filing</li>
                <li>Photocopying and Collating</li>
                <li>Keeping records of all works and transactions</li>
                <li>Running Errands</li>
                <li>Typing Correspondence</li>
                <li>Word processing and typing</li>
                <li>Scheduling an appointment</li>
              </ul>  
        </div>
    </div>
</div>

<!--Service( LEFT: text , RIGHT: Image  ) -->


<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-reversed">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Tasks Your UpturnSolution Admin VA Can Take Over:
            </a1>
            <ul>
                <li>Sorting and Filing</li>
                <li>Photocopying and Collating</li>
                <li>Keeping records of all works and transactions</li>
                <li>Running Errands</li>
                <li>Typing Correspondence</li>
                <li>Word processing and typing</li>
                <li>Scheduling an appointment</li>
              </ul>  
        </div>
    </div>
</div>

<div >

</div>