<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>IT Support Services</a2>
        </br>
                <p>Our Virtual IT support service includes:</br>
                    Web Development & Design Virtual Team</br>
                    Web Research Virtual Resource </br>
                    Social Media Virtual Services</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>Web Research Virtual Resource
            With this service, our virtual assistant can be most effective in searching every single nook and corner of the internet to collect relevant information for you about what you need to know within a minimum time frame. Our virtual Web Research service can help with strategic and tactical analysis across industry verticals, custom reports for fast-changing research scenarios.
            
            Social Media Virtual Services
            No doubt, social media is a great influencer! 
            Hiring a Social Media Virtual services plays a key factor has proven to be a powerful tool in leveraging brand awareness, brand loyalty, brand authority, increasing the bottom line, cutting operational costs, and boosting productivity and performance. 
            Through our experienced Social Media Virtual services, we provide top-notch virtual social media solutions to companies of all sorts. Our Social Media Service spans all of the major social networks, including Google+, Facebook, Twitter, LinkedIn, Pinterest, Instagram, SlideShare, YouTube, and more.
            
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Our virtual Call Center Service offers the following:
            </a1>
            <ul>
                <li>Customer Retention Calls</li>
                <li>Order Processing Calls</li>
                <li>Phone Support Calls</li>
                <li>Reservation Calls</li>
                <li>Directory Assistance Calls</li>
                <li>Dispatch Calls</li>
                <li>Helpdesk Calls</li>
                <li>Live Chat Support</li>
                <li>Credit Card Processing</li>
                <li>Upselling & Product Add-ons</li>
              </ul>  
        </div>
    </div>
</div>

<!--Service( LEFT: text , RIGHT: Image  ) -->

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>Our remote Customer Service will serve as the customer’s point of contact for your business to answer questions about products and services and responds to inquiries.  

        </p>
    </div>
</div>

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-reversed">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Our virtual Call Center Service offers immediate customer assistance via:
            </a1>
            <ul>
                <li>Answering customers' queries over the phone, </li>
                <li>Response to email to solve some concerns of customers</li>
                <li>Keeping records of all works and transactions</li>
              </ul>  

            <p> </p>
        </div>
    </div>
</div>

<div >

</div>