<div class="group" id="goto">
	<div class="titleServices">
	<a2>Our Services</a2>
	<p>Known for professionalism and quality SME assistant services, we offer All support services you need In One Place.</p>
	</div>
	<div class="colS">
		
		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/auriculares.png"></div>
			<div class="textS"><a>Administrative & Executive Assistant</a></div>
			<p>Whether Admin Assistant, Professional Assistant, Virtual Administrative Assistant, Online Administrative Assistant, Virtual Office Assistant, and Remote Assistant, they are just different names for the same role.</p>
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services1.html">Learn more</a></div>
			</div>
		
		
		

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/dinero.png"></div>
			<div class="textS"><a>Accounting / Bookkeeping </a>
			<p>Bookkeeping and Accounting perform a vital function for every profit-making business and usually demands a substantial investment of time. As your remote service provider, we assume the responsibility to waive off the burden through the best virtual accounting and bookkeeping services.</p>
			
			</div>
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services2.html">Learn more</a></div>
		
		
		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/avatar.png"></div>
			<div class="textS"><a>BPO Services</a>
			<p>A great customer experience is essential for driving business growth and achieving long-term success. Hiring virtual customer service providers is the most effective and budget-friendly way to accomplish this critical goal.</p>
			
			</div>
		
		
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services3.html">Learn more</a></div>
		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/codigo.png"></div>
			<div class="textS"><a>IT Support Services</a>
			<p>Our Virtual IT support service includes:</br>
				Web Development & Design Virtual Team</br>
				Web Research Virtual Resource </br>
				Social Media Virtual Services </br>
			</p>
			
			</div>
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services4.html">Learn more</a></div>
		</div>


		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/reporte.png"></div>
			<div class="textS"><a>Healthcare Services</a>
			<p>Recent business models and processes now reflect the trends that are shaping the global healthcare value chain. As Virtual Healthcare Services provider, UpturnSolution offers customized solutions to help remove the complexity of tedious Medicare tasks. </p>
			
			</div>
		
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services6.html">Learn more</a></div>
		
		</div>

		<div class="services S_1">
			<div class="imgS"> <img src="../assets/images/icons/LandingPage/ley.png"></div>
			<div class="textS"><a>Legal Process Outsourcing</a>
			<p>There is a recent phenomenal shift in the delivery model for legal services in the legal industry. This new model, known as legal process outsourcing or LPO.</p>
			
			</div>
			<div class="linkS"><a href="{{ site.baseurl }}/pages/Services7.html">Learn more</a></div>
	</div>
	</div>

</div>