
<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>Healthcare Services</a2>
            <p>Recent business models and processes now reflect the trends that are shaping the global healthcare value chain. As Virtual Healthcare Services provider, UpturnSolution offers customized solutions to help remove the complexity of tedious Medicare tasks. </p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>At UpturnSolution, we aim at providing remote healthcare BPO services that enrich resource allocation, boost financial performance, and increase the efficiency of the Medicare Company. We can also offer a range of healthcare BPO services for insurance carriers to simplify their processes.
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                UpturnSolution Virtual Healthcare BPO Services include:
            </a1>
            <ul>
                <li>Customer account set-up</li>
                <li>Front-end services</li>
                <li>Billing and account receivables</li>
                <li>Enrollment Services</li>
                <li>Provider network services</li>
                <li>Claims services</li>
                <li>Membership services</li>
                <li>Medicare services</li>
                <li>Pharmacy benefits management</li>
            
            
              </ul>  
        </div>
    </div>
</div>
