<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>BPO Services</a2>
            <p>A great customer experience is essential for driving business growth and achieving long-term success. Hiring virtual customer service providers is the most effective and budget-friendly way to accomplish this critical goal.</p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>Too busy to handle your calls and don’t want to hire in-house staff? 
            UpturnSolution virtual Call Center Services is the solution!
            
            We understand that you’re extremely busy managing your business and don’t want to sacrifice professionalism by repeatedly sending callers to voicemail. We offer Personal Virtual Assistants, Virtual Receptionists, Live Chat Agents, Support Team Assistants, Product Specialists / Sales Associates and more!
            LEARN MORE
            Our virtual Call Center Service is designed to provide busy professionals and entrepreneurs with courteous, highly trained remote receptionists. Our virtual call specialists are available around the clock to handle and route incoming calls, schedule appointments, and more – without the costs or headaches associated with hiring employees. This virtual call center is also designed to assist potential customers in finding their way on our websites and getting answers to enquiries about your product or services. 
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Our virtual Call Center Service offers the following:
            </a1>
            <ul>
                <li>Customer Retention Calls</li>
                <li>Order Processing Calls</li>
                <li>Phone Support Calls</li>
                <li>Reservation Calls</li>
                <li>Directory Assistance Calls</li>
                <li>Dispatch Calls</li>
                <li>Helpdesk Calls</li>
                <li>Live Chat Support</li>
                <li>Credit Card Processing</li>
                <li>Upselling & Product Add-ons</li>
              </ul>  
        </div>
    </div>
</div>

<!--Service( LEFT: text , RIGHT: Image  ) -->

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>Our remote Customer Service will serve as the customer’s point of contact for your business to answer questions about products and services and responds to inquiries.  

        </p>
    </div>
</div>

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-reversed">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Our virtual Call Center Service offers immediate customer assistance via:
            </a1>
            <ul>
                <li>Answering customers' queries over the phone, </li>
                <li>Response to email to solve some concerns of customers</li>
                <li>Keeping records of all works and transactions</li>
              </ul>  

            <p> </p>
        </div>
    </div>
</div>
