<!-- 'Introduction Service '-->

<div class="ContainerS-Introduction">
    <div class="flexContainerS-Introduction">
        <div class="ContainerSL-Introduction">
            <a2>Telemarketing Services</a2>
            <p>
                No matter your business, you need marketing!
                As business competition toughens day by day, “marketing” has evolved a lot more than print ads and billboards. Telemarketing is a logical communication channel for major marketing processes in a business.
            </p>
            <div class="buttonC">Hire us </div> 
        </div>
        <div class="ContainerSR">
        <div class="imgservice"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>

 

<!-- Text service -->

<div class="moreInfoServicesText">
    <div class="ContainerInfoText">
        <p>
            UpturnSolution telemarketing virtual services can genuinely boost the growth and sales potential of your business.
From inbound telemarketing, outbound telemarketing, B2C telemarketing, down to B2B Outsourced Telemarketing, our Virtual Sales Team are committed to performing excellent phone presentations and close the deal on your behalf.
        </p>
    </div>
</div>

<!-- Normal Service( LEFT: Image , RIGHT: text ) -->

<div class="MoreInfoServicesImageText" >
    <div class="flexContainerImageText-normal">
        <div class="ContainerServiceImage">
            <img src="../assets/images/icons/LandingPage/interfaz (1).png">
         </div>
         <div class="ContainerServiceText">
            <a1>
                Hiring our Telemarketing Virtual Assistant provides business support for:
            </a1>
            <ul>
                <li>Sales Calls</li>
                <li>Cold Calling</li>
                <li>Circle Prospecting</li>
                <li>Appointment Setting</li>
                <li>Lead Generation</li>
                <li>Market Research & Survey</li>
                <li>Collection</li>            
              </ul>  

        </div>

    </div>
    <p>With telemarketing as a core competency, we are dedicated to giving the time and resources necessary to deliver the best marketing results.
    </p>
</div>
