<div class="WhyHire-Frontpage">
    <div class="FlexWhyHire-Frontpage">
        <div class="WhyHireText-Frontpage">
            <a2>Why hire us !</a2>
            <p>Experience
                UpturnSolution is a company with many years of experience working with companies across different industries and platforms, reducing the need for conducting any training. Our expertise allows our clients to enjoy the benefits of right away.</p>
            <div class="buttonW">Hire us </div> 
        </div>
        <div class="WhyHireImage-Frontpage">
        <div class="WhyHireImage"><img src="../assets/images/icons/LandingPage/negocio (1).png">
        </div>
        </div>
    </div>

</div>