//Container
*{
    box-sizing: border-box;
}
.ContainerC2{
    
    font-family: Gordita medium;
    margin:0 auto;
    max-width: calc(100% - 5em);
    width: 70em;
    margin-bottom: 100px;

    
}
.ContactTitleBox h2 , h3{
    color:black;
}




// FORM AND CONTACT INFO

.ContactBox{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    
}


.ContactBoxForm{
    color:#646f79;
    width:65%;
    padding-bottom: 20px;
    background-color: white;
}

.ContactBoxInfo{
    background-color: #e0f3f2;
   
    color:#646f79;
    width:35%;
    padding-bottom:40px;
    text-align: left;
}

//Titles Contact info /Contact form

.ContactBoxInfo a1{
     color:black;
    margin: 30px;
    margin-left: 4em;
    margin-bottom: 0px;
    display: block;
    font-family: Gordita medium;
    
    font-size:20px;
    
}

.ContactBoxInfo a{
    font-size:12px;
}
//Form 
.FormBox{
    margin:0 auto;
    
    max-width: calc(100% - 5em);
    height:  calc(100% - 5em);
    display: block;
    
}

.formm{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.form-group{
    margin-top: 10px;
}
.form-group label{
    display: block;
}
.first{

    width:50%;
}
.first input{
    width:90%;
    margin-right: 10px;
}
.radio{
    width: 100%;
}
.radio input{
margin-left: 20px;
}
.second{

    width: 50%;
}
.second input{
    width:100%;
}
.textareaa2{
    width: 100%;

}
.textareaa2 textarea{
    resize: vertical;
    width: 100%;
    min-height: 150px;
}
.form-group input[type=text], textarea{
    background-color: #f8f8f8;
    border:solid 1px #e5e5e5;
    border-radius:5px;
    height: 3em;
    padding: 0 1em;
}
.form-group textarea{
    padding-top: 1em;
}
.form-group input{

}
//Contact Info ,flexbox.

.Text{
    
}
.ContactSet{
    display: block;
    margin: 12px;
    margin-top: 60px;
    
    margin-left:5em;;
    
    
}

.ContactSet>img{
    margin:5px;
    vertical-align: middle;
width: 40px;
height: 40px
}
//Contact Box , form
.ContactBoxForm a1{
    margin: 30px;
    color:black;
    margin-left: 4em;
    margin-bottom: 0px;
    display: block;
    font-family: Gordita medium; 
    font-size:20px;
}
#Sabutton{
    border: 0;
    background: none;
    box-shadow: none;
    font-size:16px;
    background:  #25aa9f;
    border-radius: 3px;
    min-width: 100px;
    padding:  10px 35px;
    color:  #ffffff;
    display:  inline-block;
    text-align:  center;
    font-family:Gordita Medium;
}
//responsive

@media only screen and (max-width: 768px) {
  

    .ContactBox{
    
        
        flex-direction: column;
  
  }
  .ContactBoxInfo{
      width:100%;
  }
  .ContactBoxForm{
      width: 100%;

  }
  .first input{
    width:100%;
    min-width: 200px;
}
.second input{
    min-width: 200px;
}
  .formm{
      flex-direction: column;
  }
}

//OTHER
.page-content2{


   
}