
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include gretting.html -%}
        {%- include Company.html -%}

        {%- include missionvision.html -%}
      {%- include services.html -%}  
      {%- include Why_hire_us.html -%} 
      {%- include process.html -%} 
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
